openapi: 3.1.0
info:
  title: Grapes Finance Contacts Orders API
  description: Grapes is an embedded stablecoin onramp and offramp solution that enables businesses and developers to integrate fiat-to-stablecoin and stablecoin-to-fiat transactions. Supports buying and selling stablecoins such as USDC and QCAD with CAD and USD across Ethereum, Algorand, and Stellar networks.
  version: 1.0.0
  contact:
    name: Grapes Finance Support
    url: https://docs.grapesfinance.com/api-user-guide/
servers:
- url: https://api.demo.grapesfinance.com
  description: Grapes Demo / Sandbox API
security:
- ApiKeyAuth: []
tags:
- name: Orders
  description: Fiat-to-stablecoin, stablecoin-to-fiat, and payout orders
paths:
  /orders:
    get:
      tags:
      - Orders
      summary: List orders
      responses:
        '200':
          description: A list of orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
    post:
      tags:
      - Orders
      summary: Create order
      description: Create a fiat-to-stablecoin onramp, stablecoin-to-fiat offramp, or payout order.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
components:
  schemas:
    Order:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - onramp
          - offramp
          - payout
          - swap
        sourceAsset:
          type: string
          enum:
          - USDC
          - QCAD
          - CAD
          - USD
        destinationAsset:
          type: string
          enum:
          - USDC
          - QCAD
          - CAD
          - USD
        amount:
          type: string
        status:
          type: string
          enum:
          - pending
          - processing
          - settled
          - failed
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
externalDocs:
  description: Grapes Finance API User Guide
  url: https://docs.grapesfinance.com/api-user-guide/
