openapi: 3.1.0
info:
  title: Grapes Finance Contacts Wallets API
  description: Grapes is an embedded stablecoin onramp and offramp solution that enables businesses and developers to integrate fiat-to-stablecoin and stablecoin-to-fiat transactions. Supports buying and selling stablecoins such as USDC and QCAD with CAD and USD across Ethereum, Algorand, and Stellar networks.
  version: 1.0.0
  contact:
    name: Grapes Finance Support
    url: https://docs.grapesfinance.com/api-user-guide/
servers:
- url: https://api.demo.grapesfinance.com
  description: Grapes Demo / Sandbox API
security:
- ApiKeyAuth: []
tags:
- name: Wallets
  description: Custodial and non-custodial cryptocurrency wallet operations
paths:
  /wallets:
    get:
      tags:
      - Wallets
      summary: List wallets
      responses:
        '200':
          description: A list of wallets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Wallet'
    post:
      tags:
      - Wallets
      summary: Create wallet
      description: Create a custodial or non-custodial wallet on Ethereum, Algorand, or Stellar.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Wallet'
      responses:
        '201':
          description: Wallet created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
components:
  schemas:
    Wallet:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        custody:
          type: string
          enum:
          - custodial
          - non-custodial
        chain:
          type: string
          enum:
          - ethereum
          - algorand
          - stellar
        address:
          type: string
        balances:
          type: array
          items:
            type: object
            properties:
              asset:
                type: string
                enum:
                - USDC
                - QCAD
                - CAD
                - USD
              amount:
                type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
externalDocs:
  description: Grapes Finance API User Guide
  url: https://docs.grapesfinance.com/api-user-guide/
