openapi: 3.1.0
info:
  title: Grapes Finance Contacts Users API
  description: Grapes is an embedded stablecoin onramp and offramp solution that enables businesses and developers to integrate fiat-to-stablecoin and stablecoin-to-fiat transactions. Supports buying and selling stablecoins such as USDC and QCAD with CAD and USD across Ethereum, Algorand, and Stellar networks.
  version: 1.0.0
  contact:
    name: Grapes Finance Support
    url: https://docs.grapesfinance.com/api-user-guide/
servers:
- url: https://api.demo.grapesfinance.com
  description: Grapes Demo / Sandbox API
security:
- ApiKeyAuth: []
tags:
- name: Users
  description: Account management for users controlling Grapes wallets
paths:
  /users:
    get:
      tags:
      - Users
      summary: List users
      description: Retrieve a list of users associated with the authenticated account.
      responses:
        '200':
          description: A list of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
    post:
      tags:
      - Users
      summary: Create user
      description: Create a new user account with Grapes wallet control.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /users/{userId}:
    get:
      tags:
      - Users
      summary: Get user
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        status:
          type: string
          enum:
          - pending
          - active
          - suspended
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
externalDocs:
  description: Grapes Finance API User Guide
  url: https://docs.grapesfinance.com/api-user-guide/
